@font-face {
  font-family: 'Far-From Homecoming';
  src: url("../fonts/Far-From Homecoming.otf");
}


.bulle {
  width: max-content;
  margin: 30px 0 0 110px;
  border: 2px solid $mpp-color-bubble;
  padding: 10px;
  text-align: center;
  color: $mpp-color-bubble;
  position: relative;
  border-radius: 20px;
  font-family: Far-From Homecoming;
  font-size: 1.4em;
}

.bulle:before {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid $mpp-color-bubble;
  border-top: 10px solid $mpp-color-bubble;
  border-bottom: 10px solid transparent;
  left: -20px;
  top: 20px;
}

.bulle:after {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 7px solid transparent;
  border-right: 7px solid #fff;
  border-top: 7px solid #fff;
  border-bottom: 7px solid transparent;
  left: -14px;
  top: 22px;
}

div.bonhomme img, img.alerte{
  float: left;
  width: 7em;
  height: auto;
  padding: 0 1em;
}

div.bonhomme {
  display: inline-block;
  margin-bottom: 1em;
}
