#footer {
  background-color: $mpp-color-tertiary;
  min-height: $mpp-min-height;
  display: flex;
  div.include {
    color: $mpp-color-background;
    margin: auto;
    text-align: center;
    width: 100%;

    a {
      color: $mpp-color-background;
      text-decoration: underline;
    }

    img {
      max-width: 14em;
      max-height: 8em;
      width: auto;
      height: auto;
      margin: $mpp-padding;
    }

    .row {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
    }


  }
}
