#values {
  background: $mpp-color-primary;
  color: $mpp-color-background;
  min-height: $mpp-min-height;
  display: flex;
  align-items: center;
  padding: $mpp-padding;
  div.page {
    min-height: auto;
    font-size: 1.5em;
    max-width: calc(#{$mpp-max-width} / 1.5);
    margin: auto;
  }

  a {
    display: block;
    background: $mpp-color-background;
    color: $mpp-color-primary;
    padding: 0.25em;
    transition: all .5s;
  }

  a:hover {
    text-decoration: none;
    color: $mpp-color-background;
    background-color: $mpp-color-link;
    transition: all .5s;
  }

  a:nth-of-type(1) {
    transform: rotateZ(-4deg) translateX(-1em);
  }

  a:nth-of-type(2) {
    transform: rotateZ(2deg) translateX(1em);
  }

  a:nth-of-type(3) {
    transform: rotateZ(-5deg) translateX(-1em);
  }

  a:nth-of-type(1):hover {
    transform: rotateZ(-4deg) translateX(-1em) scale(1.1);
  }

  a:nth-of-type(2):hover {
    transform: rotateZ(2deg) translateX(1em) scale(1.1);
  }

  a:nth-of-type(3):hover {
    transform: rotateZ(-5deg) translateX(-1em) scale(1.1);
  }

}

#hands {
  background: url(../images/human_values.jpg) no-repeat;
  min-height: $mpp-min-height;
  background-size: cover;
}

#themes {
  background: $mpp-color-background;
  min-height: $mpp-min-height;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $mpp-padding;

  div.include {
    ul {
      align-items: center;
      display: flex;
      flex-flow: row wrap;
      list-style: none;
      justify-content:  center;
      padding: 0;
      margin: 0;

      li {
        align-items: center;
        background: $mpp-color-tertiary;
        border-radius: 50%;
        color: $mpp-color-background;
        display: flex;
        justify-content: center;
        height: calc(((#{$mpp-min-height}) / 3) * 2);
        margin: calc((#{$mpp-padding}) / 2);
        width: calc(((#{$mpp-min-height}) / 3) * 2);
        transition: all .5s;

        a {
          color: $mpp-color-background;
          font-size: 1.5em;
          padding: calc(#{$mpp-padding} / 2);
          text-align: center;
        }

        a:hover {
          color: $mpp-color-background;
          text-decoration: none;
        }
      }

      li:nth-child(1), li:nth-child(5)  {
        background-color: $mpp-color-secondary;
      }

      li:nth-child(3)  {
        background-color: $mpp-color-quaternary;
      }

      li:hover {
        background: $mpp-color-primary;
        color: $mpp-color-background;
        transform: scale(1.1);
        transition: all .5s;
      }
    }
  }
}
