#main {
  padding: $mpp-padding;
  div.page {
    max-width: $mpp-max-width;
    margin: auto;
    margin-bottom: $mpp-padding;
    color: $mpp-color-foreground;

    h1 {
      color: $mpp-color-secondary;
    }

    h2 {
      color: $mpp-color-tertiary;
    }

    h3 {
      color: $mpp-color-quaternary;
    }

    a {
      color: $mpp-color-link;
    }

    a:hover {
      color: $mpp-color-secondary;
    }

    a:visited {
      color: $mpp-color-tertiary;
    }

    a.btn.cat {
      width: 100%;
      margin: 0.5em 0;
      color: white;
      background: $mpp-color-quaternary;
      text-align: left;
      font-size: 1.5em;
    }

    a.btn.btn-vert {
      background: $mpp-color-primary;
    }

    a.btn.btn-orange {
      background: $mpp-color-link;
    }

    hr {
      background: url(../images/line.svg) center no-repeat;
      background-size: contain;
      height: 120px;
      display:block;
      border:0px;
      height:25px;
    }
  }
}
