$mpp-color-primary: #eab91c;
$mpp-color-secondary: #006632;
$mpp-color-tertiary: #68A741;
$mpp-color-quaternary: #94C11C;
$mpp-color-link: #ca4e22;

$mpp-color-foreground: #332624;
$mpp-color-background: white;

$mpp-padding: 2em;

$mpp-max-width: 50em;
$mpp-min-height: 20em;
