#main {
  padding: 2em; }
  #main div.page {
    max-width: 50em;
    margin: auto;
    color: #332624; }
    #main div.page h1 {
      color: #006632; }
    #main div.page h2 {
      color: #68A741; }
    #main div.page h3 {
      color: #94C11C; }
    #main div.page a {
      color: #ca4e22; }
    #main div.page a:hover {
      color: #006632; }
    #main div.page a:visited {
      color: #68A741; }

#header {
  text-align: center;
  max-height: 20em;
  min-height: 20em; }
  #header img {
    height: 100%;
    max-width: 100%;
    padding: calc(2em / 2); }

#footer {
  background-color: #68A741;
  min-height: 20em;
  display: flex; }
  #footer div.include {
    color: white;
    margin: auto;
    text-align: center;
    width: 100%; }
    #footer div.include a {
      color: white;
      text-decoration: underline; }
    #footer div.include img {
      max-width: 14em;
      max-height: 8em;
      width: auto;
      height: auto;
      margin: 2em; }
    #footer div.include .row {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center; }

#values {
  background: #eab91c;
  color: white;
  min-height: 20em;
  display: flex;
  align-items: center;
  padding: 2em; }
  #values div.page {
    min-height: auto;
    font-size: 1.5em;
    max-width: calc(50em / 1.5);
    margin: auto; }
  #values a {
    display: block;
    background: white;
    color: #eab91c;
    padding: 0.25em;
    transition: all .5s; }
  #values a:hover {
    text-decoration: none;
    color: white;
    background-color: #ca4e22;
    transition: all .5s; }
  #values a:nth-of-type(1) {
    transform: rotateZ(-4deg) translateX(-1em); }
  #values a:nth-of-type(2) {
    transform: rotateZ(2deg) translateX(1em); }
  #values a:nth-of-type(3) {
    transform: rotateZ(-5deg) translateX(-1em); }
  #values a:nth-of-type(1):hover {
    transform: rotateZ(-4deg) translateX(-1em) scale(1.1); }
  #values a:nth-of-type(2):hover {
    transform: rotateZ(2deg) translateX(1em) scale(1.1); }
  #values a:nth-of-type(3):hover {
    transform: rotateZ(-5deg) translateX(-1em) scale(1.1); }

#hands {
  background: url(../images/human_values.jpg) no-repeat;
  min-height: 20em;
  background-size: cover; }

#themes {
  background: white;
  min-height: 20em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em; }
  #themes div.include ul {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin: 0; }
    #themes div.include ul li {
      align-items: center;
      background: #68A741;
      border-radius: 50%;
      color: white;
      display: flex;
      justify-content: center;
      height: calc(((20em) / 3) * 2);
      margin: calc((2em) / 2);
      width: calc(((20em) / 3) * 2);
      transition: all .5s; }
      #themes div.include ul li a {
        color: white;
        font-size: 1.5em;
        padding: calc(2em / 2);
        text-align: center; }
      #themes div.include ul li a:hover {
        color: white;
        text-decoration: none; }
    #themes div.include ul li:nth-child(1), #themes div.include ul li:nth-child(5) {
      background-color: #006632; }
    #themes div.include ul li:nth-child(3) {
      background-color: #94C11C; }
    #themes div.include ul li:hover {
      background: #eab91c;
      color: white;
      transform: scale(1.1);
      transition: all .5s; }

#navtop {
  align-items: center;
  background: #eab91c;
  display: flex;
  padding: 0 2em;
  margin-top: 1em; }
  #navtop div.include {
    color: white;
    max-width: 50em !important;
    margin: auto; }
    #navtop div.include a {
      color: white; }
    #navtop div.include a:hover {
      color: #eab91c; }

@font-face {
  font-family: 'Far-From Homecoming';
  src: url("../fonts/Far-From Homecoming.otf"); }
.bulle {
  width: max-content;
  margin: 30px 0 0 110px;
  border: 2px solid #8a8b8a;
  padding: 10px;
  text-align: center;
  color: #8a8b8a;
  position: relative;
  border-radius: 20px;
  font-family: Far-From Homecoming;
  font-size: 1.4em; }

.bulle:before {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #8a8b8a;
  border-top: 10px solid #8a8b8a;
  border-bottom: 10px solid transparent;
  left: -20px;
  top: 20px; }

.bulle:after {
  content: '';
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 7px solid transparent;
  border-right: 7px solid #fff;
  border-top: 7px solid #fff;
  border-bottom: 7px solid transparent;
  left: -14px;
  top: 22px; }

.bonhomme, .alerte {
  float: left;
  width: 7em;
  height: auto;
  padding: 0 1em; }

* {
  box-sizing: border-box; }

html {
  background-color: white;
  margin: auto; }

body {
  align-items: stretch;
  background: transparent;
  display: flex;
  flex-flow: column;
  font-size: 16px;
  margin: auto; }

#header {
  order: 1; }

#navtop {
  order: 2; }

#values {
  order: 3; }

#main, #themes {
  order: 5; }

#hands {
  order: 6; }

#footer {
  order: 7; }

/*# sourceMappingURL=default.css.map */
